# Producer
amq.producer.brokerURL=vm://localhost
amq.producer.userName=amq
amq.producer.password=karaf

# Consumer
amq.consumer.brokerURL=vm://localhost
amq.consumer.userName=amq
amq.consumer.password=karaf

# Forwarder
amq.source.brokerURL=vm://localhost
amq.source.userName=amq
amq.source.password=karaf

amq.destination.brokerURL=vm://localhost
amq.destination.userName=amq
amq.destination.password=karaf

# Other Variables
env.prop01=Value for env.prop01
common.prop01=Value for common.prop01
