[Unit]
Description=RH-SSO
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/etc/init.d/jboss-eap-rhel.sh start
ExecStop=/etc/init.d/jboss-eap-rhel.sh stop

[Install]
WantedBy=multi-user.target
